*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Trebuchet MS';
}

html, body{
    background-color: #d6d5a0;
    padding-top: 1rem;
}

header{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.container{
    border: 2px solid black;
    border-radius: 50px;
    margin-top: 1rem;
    margin-left: 18rem;
    margin-right: 18rem;
    background-color: #d4d229;
    text-align: center;
    padding: 1%;
    
}

nav{
    border: 2px solid #000000;
    margin-top: 1rem;
    margin-left: 18rem;
    margin-right: 18rem;
    border-radius: 10px;
    padding: 1rem;
}

footer{
    border: 2px solid #000000;
    margin-top: 2rem;
    margin-left: 18rem;
    margin-right: 18rem;
    border-radius: 10px;
    padding: 1rem;
    
}

nav, footer{
    background-color: darkgrey;
}

.titulo{
    font-size: 5rem;
    text-align: center;
    font-family: "Trebuchet MS";
}

.cuadros{
    width: 42%;
    background-color: #dddc92;
    border: 2px solid #000000;
    border-radius: 45px;
    margin: 1%;
    padding: 1rem;
    display: inline-block;
    
}
