*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Trebuchet MS';
}

html, body{
    background-color: #3CDF58;
}

header{
    padding-top: 2rem;
}
.container{
    border: 2px solid black;
    border-radius: 50px;
    margin-top: 1rem;
    margin-left: 18rem;
    margin-right: 18rem;
    background-color: #e47cb0;
    text-align: center;
    height: 16rem;
}

nav{
    border: 2px solid #000000;
    margin-top: 1rem;
    margin-left: 18rem;
    margin-right: 18rem;
    border-radius: 10px;
    padding: 1rem;
}

aside{
    border: 2px solid #a80abd;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

section, footer, article{
    border: 2px solid #a80abd;
    margin-top: 2rem;
    margin-left: 18rem;
    margin-right: 18rem;
    border-radius: 10px;
    padding: 1rem;
}

article, aside{
    width: 30%;
    display: inline-block;
    height: 90%;
    background-color: #e4bebe;
}

nav, footer, section {
    background-color: darkgrey;
}

.titulo{
    font-size: 5rem;
    text-align: center;
    font-family: "Trebuchet MS";
}
ol,li{
    align-content: center;
    font-size: 30px;
}
.cuadros{
    width: 30%;
    display: inline-table;
    background-color: #fcf1f1;
    border: 2px solid #000000;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}
