*{
    padding: 0;
    margin: 0;
    text-align: center;
}

 

html, body{
    background-color: #df64ae;
    font-family: "Trebuchet MS";
}
header{
    margin-top: 2rem;
    
}
 

.container{
    border: 2px solid #000000;
    border-radius: 50px;
    margin: 2rem;
    background-color: #d33535;
}

 


nav, section, footer, aside, article{
    border: 2px solid #000000;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

 

article, aside{
    width: 41%;
    display: inline-block;
    height: 300px;
    background-color: #e4bebe;
}

 

nav, footer, section {
    margin: 2rem;
    background-color: #e46673;
}